/IntroduceToAI/SentimentAnalysis/RowData
/IntroduceToAI/SentimentAnalysis/Model
/IntroduceToAI/SentimentAnalysis/CleanData
/IntroduceToAI/SentimentAnalysis/Persistence
/IntroduceToAI/SentimentAnalysis/RowData.zip
/IntroduceToAI/BPnetwork/data

.ipynb_checkpoints

## 参考https://blog.csdn.net/u014079773/article/details/51602344