<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <!-- hibernate.connection.url : 连接数据库的地址,路径 -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/stu</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">5183</property>
        <!-- show_sql: 操作数据库时,会 向控制台打印sql语句 -->
        <property name="show_sql">true</property>
        <!-- format_sql: 打印sql语句前,会将sql语句先格式化  -->

        <!--自动创建表-->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Set "true" to show SQL statements -->
        <property name="hibernate.show_sql">true</property>

        <!-- mapping class using annotation -->
        <mapping class="Entity.Student"></mapping>
        <mapping class="Entity.Teacher"></mapping>




        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>